body {
	background-color:#E0E0E0;
	margin:0px; padding:0px;
	font-family:Helvetica,Arial,sans-serif;
	color:#333333;
	text-indent:0px; 
	line-height:1.3em;
	font-size:11px;
}

#bg {
	position: absolute;
	z-index: 1;
	user-select: none;
	cursor: default;
}

#log {
	position: absolute;
	z-index: 2;
	padding: 10px;
	overflow: hidden;
	top: 30px; left:10px;
	width:300px;
	user-select: none;
	pointer-events: none;
	font-size: 10px;
	font-family: verdana;
}

/* -- map -- */

#map {
	position: absolute;
	z-index: 3;
	border: 1px solid rgba(0,0,0,0.03);
	user-select: none;
	cursor: default;
}

#map div {
	position: absolute;
	background-image: url(img/atlas.png);
	cursor: pointer;
	/*border: 1px solid red; */
}